@import url("https://fonts.googleapis.com/css2?family=Khand:wght@700&family=Quattrocento+Sans:wght@400;700&display=swap");
.f-gallery {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 4px;
  background: #243A73;
}
.f-gallery .f-gallery-img-active {
  flex: 4 !important;
}
.f-gallery .f-gallery-img-active h1 {
  display: block !important;
  opacity: 0;
  -webkit-animation: appear 0.3s ease-out 0.2s forwards;
          animation: appear 0.3s ease-out 0.2s forwards;
}
.f-gallery .f-gallery-img-active h3 {
  font-size: 32px !important;
  transition: all 0.3s;
  margin-bottom: 16px;
}
.f-gallery .f-gallery-img {
  text-decoration: none;
  height: 100%;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.f-gallery .f-gallery-img h1 {
  font-size: 80px;
  display: none;
  text-transform: uppercase;
  margin-bottom: 64px;
}
.f-gallery .f-gallery-img h1 span {
  color: #6DFACD;
}
.f-gallery .f-gallery-img * {
  color: #F7F8FF;
}
.f-gallery .f-gallery-img h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.f-gallery .f-gallery-img .f-gallery-desc {
  padding-left: 32px;
  padding-bottom: 32px;
}

@media (max-width: 900px) {
  .f-gallery {
    flex-direction: column !important;
  }
  .f-gallery .f-gallery-desc {
    padding-left: 16px !important;
    padding-bottom: 16px !important;
  }
  .f-gallery .f-gallery-img-active h3 {
    font-size: 20px !important;
  }
  .f-gallery .f-gallery-img h1 {
    font-size: 32px !important;
  }
}
@media (max-width: 1200px) {
  .f-gallery .f-gallery-img h1 {
    font-size: 60px !important;
  }
}
@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  100% {
    opacity: 1;
  }
}
.f-gallery {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 4px;
  background: #243A73;
}
.f-gallery .f-gallery-img-active {
  flex: 4 !important;
}
.f-gallery .f-gallery-img-active h1 {
  display: block !important;
  opacity: 0;
  -webkit-animation: appear 0.3s ease-out 0.2s forwards;
          animation: appear 0.3s ease-out 0.2s forwards;
}
.f-gallery .f-gallery-img-active h3 {
  font-size: 32px !important;
  transition: all 0.3s;
  margin-bottom: 16px;
}
.f-gallery .f-gallery-img {
  text-decoration: none;
  height: 100%;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.f-gallery .f-gallery-img h1 {
  font-size: 80px;
  display: none;
  text-transform: uppercase;
  margin-bottom: 64px;
}
.f-gallery .f-gallery-img h1 span {
  color: #6DFACD;
}
.f-gallery .f-gallery-img * {
  color: #F7F8FF;
}
.f-gallery .f-gallery-img h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.f-gallery .f-gallery-img .f-gallery-desc {
  padding-left: 32px;
  padding-bottom: 32px;
}

@media (max-width: 900px) {
  .f-gallery {
    flex-direction: column !important;
  }
  .f-gallery .f-gallery-desc {
    padding-left: 16px !important;
    padding-bottom: 16px !important;
  }
  .f-gallery .f-gallery-img-active h3 {
    font-size: 20px !important;
  }
  .f-gallery .f-gallery-img h1 {
    font-size: 32px !important;
  }
}
@media (max-width: 1200px) {
  .f-gallery .f-gallery-img h1 {
    font-size: 60px !important;
  }
}
@keyframes appear {
  100% {
    opacity: 1;
  }
}
.f-single-page-container {
  padding: 0 32px;
  margin: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 64px;
}
.f-single-page-container .f-movie-poster {
  height: 400px;
  width: 250px;
  min-width: 250px;
  overflow: hidden;
  border-radius: 10px;
}
.f-single-page-container .f-movie-poster img {
  height: 100%;
  width: auto;
}
.f-single-page-container .f-movie-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.f-single-page-container .f-movie-details .f-movie-genre {
  display: flex;
  gap: 32px;
}
.f-single-page-container .f-movie-details .f-movie-genre ul {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
}
.f-single-page-container .f-movie-details .f-movie-genre ul li {
  padding: 0;
  color: #F7F8FF;
}
.f-single-page-container .f-movie-details .f-movie-genre ul li button {
  color: inherit !important;
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  opacity: 0.6;
}
.f-single-page-container .f-movie-details .f-movie-genre ul li button:hover {
  opacity: 1;
}
.f-single-page-container .f-movie-details .f-movie-year {
  color: #F7F8FF;
  opacity: 0.8;
  font-weight: 700;
  font-size: 16px;
  font-family: "Quattrocento Sans", sans-serif;
}
.f-single-page-container .f-movie-details .f-movie-rating {
  display: flex;
  align-items: center;
  color: #F7F8FF;
  opacity: 0.8;
  gap: 8px;
}
.f-single-page-container .f-movie-details .f-movie-title {
  display: flex;
  align-items: center;
  gap: 16px;
}
.f-single-page-container .f-movie-details .f-movie-title h1 {
  color: #F7F8FF;
  margin: 0;
  text-transform: uppercase;
  font-size: 96px;
  font-family: "Khand", sans-serif;
  line-height: 86px;
}
.f-single-page-container .f-movie-details p {
  color: #F7F8FF;
  font-size: 16px;
  font-family: "Quattrocento Sans", sans-serif;
}
.f-single-page-container .f-recommandations {
  width: 250px;
  min-width: 250px;
}
.f-single-page-container .f-recommandations h3 {
  color: #F7F8FF;
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Khand", sans-serif;
}

.f-carousel-layout {
  height: 622px;
  max-height: 622px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 32px 120px;
  gap: 32px;
}
.f-carousel-layout .carousel-title {
  display: flex;
  align-items: baseline;
  gap: 16px;
}
.f-carousel-layout .carousel-title h1 {
  text-transform: uppercase;
  color: #F7F8FF;
  margin: 0;
  font-family: "Khand", sans-serif;
  font-size: 64px;
}
.f-carousel-layout .carousel-title .carousel-title-rating {
  color: #F7F8FF;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.f-carousel-layout .carousel-title .carousel-title-rating span {
  display: flex;
  align-items: center;
  font-family: "Khand", sans-serif;
  font-size: 20px;
  opacity: 0.8;
}
.f-carousel-layout .carousel-details {
  display: flex;
  gap: 32px;
}
.f-carousel-layout .carousel-details ul {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
}
.f-carousel-layout .carousel-details ul li {
  padding: 0;
  color: #F7F8FF;
}
.f-carousel-layout .carousel-details ul li button {
  color: inherit !important;
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  opacity: 0.6;
}
.f-carousel-layout .carousel-details ul li button:hover {
  opacity: 1;
}
.f-carousel-layout .carousel-details .carousel-details-year {
  color: #6DFACD;
  font-weight: 700;
  font-size: 16px;
  font-family: "Quattrocento Sans", sans-serif;
}
.f-carousel-layout p {
  margin: 0;
  max-width: 500px;
  color: #F7F8FF;
  font-size: 16px;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 600;
}

.f-page-layout .ant-carousel-vertical .slick-dots li.slick-active, .f-page-layout .ant-carousel-vertical .slick-dots li.slick-active button {
  width: 8px;
  height: 48px;
  border-radius: 16px;
  margin-bottom: 8px;
}
.f-page-layout .ant-carousel-vertical .slick-dots li {
  width: 3px;
  height: 16px;
  margin: 0;
  vertical-align: baseline;
}
.f-page-layout .ant-carousel-vertical .slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.f-page-layout .ant-carousel .slick-dots li.slick-active button {
  background: #6DFACD;
  opacity: 1;
}
.f-page-layout .ant-carousel-vertical .slick-dots-right {
  right: 32px;
}
.f-page-layout .ant-carousel .slick-dots li button {
  background: #F7F8FF;
}

.f-gallery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
.f-gallery-wrapper .gallery-title {
  color: #6DFACD;
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Khand", sans-serif;
}
.f-gallery-wrapper .gallery-container {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 200px;
  overflow: auto;
  scrollbar-width: none;
}
.f-gallery-wrapper .gallery-container::-webkit-scrollbar {
  display: none;
}
.f-gallery-wrapper .gallery-container .gallery-filter-item .ant-btn-link {
  color: #F7F8FF;
  opacity: 0.6;
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.f-gallery-wrapper .gallery-container .gallery-filter-item .ant-btn-link:hover {
  opacity: 1;
}
.f-gallery-wrapper .gallery-container .gallery-filter-item .ant-btn-primary {
  color: #F7F8FF;
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
  background-color: #6DFACD;
  color: #243A73;
  border: none;
}
.f-gallery-wrapper .gallery-container .gallery-item {
  background: #F7F8FF;
  height: 200px;
  width: 300px;
  min-width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.f-gallery-wrapper .gallery-container .gallery-item img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.ant-modal-content {
  background-color: #243A73;
}
.ant-modal-content .ant-modal-close-icon {
  color: #F7F8FF;
  opacity: 0.6;
}
.ant-modal-content .ant-modal-close-icon:hover {
  opacity: 1;
}

.ant-modal-header {
  background: transparent;
  border: none;
}

.ant-modal-title {
  text-transform: uppercase;
  margin: 32px 0;
  color: #F7F8FF;
  font-size: 32px;
  font-family: "Khand", sans-serif;
}

#signin .ant-btn-link, #signup .ant-btn-link {
  color: #F7F8FF;
  opacity: 0.8;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
}
#signin .ant-btn-primary, #signup .ant-btn-primary {
  color: #243A73;
  background: #6DFACD;
  border: none;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  border-radius: 20px;
  font-weight: 600;
}

.f-form-footer {
  color: rgba(247, 248, 255, 0.6);
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.f-form-footer .ant-btn-link {
  font-weight: 700;
  padding: 0;
  color: #F7F8FF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #243A73;
}

.f-page-layout {
  background: transparent;
}
.f-page-layout .f-page-container {
  padding: 32px;
}

.f-divider {
  opacity: 0.15;
  border: 0.5px solid #F7F8FF;
}

.ant-input, .ant-input-password {
  border-radius: 20px !important;
  background-color: rgba(198, 209, 255, 0.13);
  border-color: transparent;
  color: #F7F8FF;
}
.ant-input input, .ant-input-password input {
  background-color: transparent;
}
.ant-input .ant-input-password-icon, .ant-input-password .ant-input-password-icon {
  color: #F7F8FF;
  opacity: 0.8;
}
.ant-input .ant-input-password-icon:hover, .ant-input-password .ant-input-password-icon:hover {
  opacity: 1;
  color: #6DFACD;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
  background: rgba(198, 209, 255, 0.13);
}
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input input, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover input {
  background: transparent;
}

.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
  background: rgba(198, 209, 255, 0.13);
}
.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper input, .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover input {
  background: transparent;
}

.ant-input-focused, .ant-input:focus, .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #6DFACD;
  box-shadow: 0 0 0 2px rgba(109, 250, 205, 0.2);
  border-right-width: 1px;
  outline: 0;
}

.ant-input:hover, .ant-input-password:hover {
  border-color: #6DFACD;
  border-right-width: 1px;
}

input {
  color: #F7F8FF;
  font-family: "Quattrocento Sans", sans-serif;
}
input::-moz-placeholder {
  color: rgba(247, 248, 255, 0.4);
}
input:-ms-input-placeholder {
  color: rgba(247, 248, 255, 0.4);
}
input::placeholder {
  color: rgba(247, 248, 255, 0.4);
}

.ant-btn-primary {
  color: #243A73;
  background: #6DFACD;
  opacity: 1;
  border: none;
  border-radius: 20px;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 600;
}
.ant-btn-primary:hover {
  color: #243A73;
  background: #6DFACD;
  opacity: 0.8;
}

.f-img-gallery {
  display: flex;
  flex-wrap: wrap;
}
.f-img-gallery img {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  padding: 40px 5%;
}

.heading-text {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.heading-text span {
  font-weight: 100;
}

ul {
  list-style: none;
}

/* Responsive image gallery rules begin*/
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  flex-basis: 200px; /*width: 250px;*/
  position: relative;
  cursor: pointer;
}

.image-gallery::after {
  content: "";
  flex-basis: 200px;
}

.image-gallery li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.f-icon {
  color: #6DFACD;
}

.f-icon-text {
  color: #F7F8FF;
  font-size: 24px;
  font-family: "Khand", sans-serif;
}/*# sourceMappingURL=App.css.map */