@import url("https://fonts.googleapis.com/css2?family=Khand:wght@700&family=Quattrocento+Sans:wght@400;700&display=swap");
.f-gallery {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 4px;
  background: #243A73;
}
.f-gallery .f-gallery-img-active {
  flex: 4 !important;
}
.f-gallery .f-gallery-img-active h1 {
  display: block !important;
  opacity: 0;
  -webkit-animation: appear 0.3s ease-out 0.2s forwards;
          animation: appear 0.3s ease-out 0.2s forwards;
}
.f-gallery .f-gallery-img-active h3 {
  font-size: 32px !important;
  transition: all 0.3s;
  margin-bottom: 16px;
}
.f-gallery .f-gallery-img {
  text-decoration: none;
  height: 100%;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.f-gallery .f-gallery-img h1 {
  font-size: 80px;
  display: none;
  text-transform: uppercase;
  margin-bottom: 64px;
}
.f-gallery .f-gallery-img h1 span {
  color: #6DFACD;
}
.f-gallery .f-gallery-img * {
  color: #F7F8FF;
}
.f-gallery .f-gallery-img h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.f-gallery .f-gallery-img .f-gallery-desc {
  padding-left: 32px;
  padding-bottom: 32px;
}

@media (max-width: 900px) {
  .f-gallery {
    flex-direction: column !important;
  }
  .f-gallery .f-gallery-desc {
    padding-left: 16px !important;
    padding-bottom: 16px !important;
  }
  .f-gallery .f-gallery-img-active h3 {
    font-size: 20px !important;
  }
  .f-gallery .f-gallery-img h1 {
    font-size: 32px !important;
  }
}
@media (max-width: 1200px) {
  .f-gallery .f-gallery-img h1 {
    font-size: 60px !important;
  }
}
@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  100% {
    opacity: 1;
  }
}
.f-gallery {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 4px;
  background: #243A73;
}
.f-gallery .f-gallery-img-active {
  flex: 4 !important;
}
.f-gallery .f-gallery-img-active h1 {
  display: block !important;
  opacity: 0;
  -webkit-animation: appear 0.3s ease-out 0.2s forwards;
          animation: appear 0.3s ease-out 0.2s forwards;
}
.f-gallery .f-gallery-img-active h3 {
  font-size: 32px !important;
  transition: all 0.3s;
  margin-bottom: 16px;
}
.f-gallery .f-gallery-img {
  text-decoration: none;
  height: 100%;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.f-gallery .f-gallery-img h1 {
  font-size: 80px;
  display: none;
  text-transform: uppercase;
  margin-bottom: 64px;
}
.f-gallery .f-gallery-img h1 span {
  color: #6DFACD;
}
.f-gallery .f-gallery-img * {
  color: #F7F8FF;
}
.f-gallery .f-gallery-img h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.f-gallery .f-gallery-img .f-gallery-desc {
  padding-left: 32px;
  padding-bottom: 32px;
}

@media (max-width: 900px) {
  .f-gallery {
    flex-direction: column !important;
  }
  .f-gallery .f-gallery-desc {
    padding-left: 16px !important;
    padding-bottom: 16px !important;
  }
  .f-gallery .f-gallery-img-active h3 {
    font-size: 20px !important;
  }
  .f-gallery .f-gallery-img h1 {
    font-size: 32px !important;
  }
}
@media (max-width: 1200px) {
  .f-gallery .f-gallery-img h1 {
    font-size: 60px !important;
  }
}
@keyframes appear {
  100% {
    opacity: 1;
  }
}
.f-carousel-layout {
  height: 622px;
  max-height: 622px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 32px 120px;
  gap: 32px;
}
.f-carousel-layout .carousel-title {
  display: flex;
  align-items: baseline;
  gap: 16px;
}
.f-carousel-layout .carousel-title h1 {
  text-transform: uppercase;
  color: #F7F8FF;
  margin: 0;
  font-family: "Khand", sans-serif;
  font-size: 64px;
}
.f-carousel-layout .carousel-title .carousel-title-rating {
  color: #F7F8FF;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.f-carousel-layout .carousel-title .carousel-title-rating span {
  display: flex;
  align-items: center;
  font-family: "Khand", sans-serif;
  font-size: 20px;
  opacity: 0.8;
}
.f-carousel-layout .carousel-details {
  display: flex;
  gap: 32px;
}
.f-carousel-layout .carousel-details ul {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
}
.f-carousel-layout .carousel-details ul li {
  padding: 0;
  color: #F7F8FF;
}
.f-carousel-layout .carousel-details ul li button {
  color: inherit !important;
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  opacity: 0.6;
}
.f-carousel-layout .carousel-details ul li button:hover {
  opacity: 1;
}
.f-carousel-layout .carousel-details .carousel-details-year {
  color: #6DFACD;
  font-weight: 700;
  font-size: 16px;
  font-family: "Quattrocento Sans", sans-serif;
}
.f-carousel-layout p {
  margin: 0;
  max-width: 500px;
  color: #F7F8FF;
  font-size: 16px;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 600;
}

.f-page-layout .ant-carousel-vertical .slick-dots li.slick-active, .f-page-layout .ant-carousel-vertical .slick-dots li.slick-active button {
  width: 8px;
  height: 48px;
  border-radius: 16px;
  margin-bottom: 8px;
}
.f-page-layout .ant-carousel-vertical .slick-dots li {
  width: 3px;
  height: 16px;
  margin: 0;
  vertical-align: baseline;
}
.f-page-layout .ant-carousel-vertical .slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.f-page-layout .ant-carousel .slick-dots li.slick-active button {
  background: #6DFACD;
  opacity: 1;
}
.f-page-layout .ant-carousel-vertical .slick-dots-right {
  right: 32px;
}
.f-page-layout .ant-carousel .slick-dots li button {
  background: #F7F8FF;
}

.f-gallery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
.f-gallery-wrapper .gallery-title {
  color: #6DFACD;
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Khand", sans-serif;
}
.f-gallery-wrapper .gallery-container {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 200px;
  overflow: auto;
  scrollbar-width: none;
}
.f-gallery-wrapper .gallery-container::-webkit-scrollbar {
  display: none;
}
.f-gallery-wrapper .gallery-container .gallery-filter-item .ant-btn-link {
  color: #F7F8FF;
  opacity: 0.6;
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.f-gallery-wrapper .gallery-container .gallery-filter-item .ant-btn-link:hover {
  opacity: 1;
}
.f-gallery-wrapper .gallery-container .gallery-filter-item .ant-btn-primary {
  color: #F7F8FF;
  font-family: "Quattrocento Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
  background-color: #6DFACD;
  color: #243A73;
  border: none;
}
.f-gallery-wrapper .gallery-container .gallery-item {
  background: #F7F8FF;
  height: 200px;
  width: 300px;
  min-width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.f-gallery-wrapper .gallery-container .gallery-item img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #243A73;
}

.f-page-layout {
  background: transparent;
}
.f-page-layout .f-page-container {
  padding: 32px;
}

.f-divider {
  opacity: 0.15;
  border: 0.5px solid #F7F8FF;
}/*# sourceMappingURL=App.css.map */